.result-bar{
        display:grid;
        grid-template-columns:1fr;
        height:45px;
        font-size:32px;
        font-family:monospace;
        border-radius:20px;
        text-align:right;
        padding:10px;
        margin-bottom:15px;
        overflow:hidden;
        box-shadow:inset 0px 0px 8px rgba(26, 224, 79, 0.3);
      }
      .row{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
      }
      .button{
        font-size:40px;
        border-radius:20px;
        border-color:red;
        color:blue;
        transition:0.6s;
      }
      .button:hover{
        background-color: #d4df33;
        cursor:pointer;
      }